[Desktop Entry]
Type=Application
Name=CD Network Manager
Comment=Network and system profile manager
Exec=network-manager
Icon=com.chrisdaggas.network-manager
Terminal=false
Categories=Network;System;Settings;
Keywords=network;profile;manager;vpn;dns;ip;
StartupWMClass=com.chrisdaggas.network-manager
X-AppImage-Version=0.1.0
